@{
    var currentUser = ((MVCproject.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-my navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>


                </button>
                @Html.ActionLink("Admin Menu", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })

            </div>
            <div class="navbar-right">
                <div id="modDialog" class="modal fade">
                    <div id="dialogContent" class="modal-dialog"></div>
                </div>

                <a class="btn btn-prim dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user">
                    </i>
                    @currentUser.Email<span class="caret"></span>
                </a>
                <ul class="dropdown-menu a">
                    <li><a href="/">На сайт</a></li>
                    <li>
                        <a href="@Url.Action("Logout", "Login", new { area = "Default" })">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET By Pavel Mankialevich</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/Site.css" rel="stylesheet" />
</body>
</html>