@model Dictionary<string, IEnumerable<MVCproject.Models.ManagerMVC>>


@{
    ViewBag.Title = "Statistics";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br>

<div>
    <h1>Column Chart</h1>
</div>

<div>
    <img src="@Url.Action("ChartColumn")" alt="Chart" />
</div>
<hr />

<div>
    <h1>Bar Chart</h1>
</div>

<div>
    <img src="@Url.Action("ChartBar")" alt="Chart" />
</div>
<hr />

<div>
    <h1>Pie Chart</h1>
</div>

<div>
    <img src="@Url.Action("ChartPie")" alt="Chart" />
</div>
<hr />

<div>
    <h1>Three Line Chart</h1>
</div>

<div>
    <img src="@Url.Action("ChartThree")" alt="Chart" />
</div>
<hr />

<div>
    <h1>Bubble Chart</h1>
</div>

<div>
    <img src="@Url.Action("ChartBubble")" alt="Chart" />
</div>
<hr />

<div>
    <h1>Doughnut Chart</h1>
</div>

<div>
    <img src="@Url.Action("ChartDoughnut")" alt="Chart" />
</div>
<hr />

<div>
    <h1>Radar Chart</h1>
</div>

<div>
    <img src="@Url.Action("ChartRadar")" alt="Chart" />
</div>
<hr />

